#result {
    margin: auto;
    border-style: solid;
    background-color: white;
    padding-left: 20px;
    color: black;
    max-height: 500px;
    padding-bottom: 20px;
    width: 600px;
}

p {
    color: white;
}

.aysywtd {
    color: white;
    margin: auto;
    margin-bottom: 10px;
    border-style: solid;
    width: 200px;
    background-color: red;
    text-align: center;
}

h3 {
    padding: 20px;
}

h4 {
    text-decoration-line: underline;
}

#infobutton {
    background-color: rgb(255, 188, 64)
}