#carian {
    margin: auto;
    margin-bottom: 70px;
    background-color: white;
    border-style: solid;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 1200px;
    max-height: 1500px;
    box-shadow: 5px 8px #888888;
    outline: none;
}

input {
    width: 500px;
    border-radius: 24px;
}

.bil {
    text-align: center;
}

thead {
    background-color: rgb(255, 187, 60);
    font-weight: bold;
    color: black;
}

#myInput {
    outline-color: #888888;
}