
.header-login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.header-login h1 {
    text-align: center;
    color: #507578;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.header-login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}


.header-login form input[type="text"], .header-login form input[type="password"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.header-login button[type="submit"] {
    width: 100%;
    padding: 15px;
  margin-top: 20px;
    background-color: #2cb2d4;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.header-login button[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}

.wrapper-main{
  width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.wrapper-main h1{
  text-align: center;
    color: #507578;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.wrapper-main form{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.wrapper-main form input[type="text"],.wrapper-main form input[type="text"],.wrapper-main form input[type="text"],.wrapper-main form input[type="password"],.wrapper-main form input[type="password"]{
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.wrapper-main button[type="submit"]{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #2cb2d4;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.wrapper-main button[type="submit"]:hover{
   background-color: #2868c7;
    transition: background-color 0.2s;
}

.form-main{
  width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.form-main h1{
   text-align: center;
    color: #507578;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.form-main form{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.form-main form input[type=date],.form-main form input[type=date],.form-main form input[type=text],.form-main form input[type=text],.form-main form input[type=text]{
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.form-main button[type=submit],.form-main button[type=reset]{
  width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #2cb2d4;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.form-main button[type=submit]:hover,.form-main button[type=reset]:hover{
  background-color: #2868c7;
    transition: background-color 0.2s;
}


