/* Header */

#logo {
    background-color: white;
    align-content: center;
    display: flex;
    padding: 10px;
    padding-left: 20px;
    align-items: center;
    font-family: sans-serif;
}

.tajuk {
    font-family: monospace, Courier;
    text-decoration: none;
    color: black;
}

body {
    font-family: sans-serif;
    background-color: rgb(168, 218, 252);
}

.container1 {
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: flex-start;
}

.welcome {
    text-align: center;
}

.container {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

h2 {
    margin: auto;
    background-color: white;
    border-style: inset;
    width: 700px;
    text-align: left;
    text-align: center;
    text-decoration: underline solid;
}

.card {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1E88E5;
    color: black;
    text-align: center;
    overflow: hidden;
}

#logoutbtn,
#adminbtn {
    margin-top: 10px;
}

#forgotbtn,
#signupbtn,
#loginbtn {
    margin: 20px;
}

select {
    margin: 10px;
}

.resultoverall {
    align-content: center;
    background-color: white;
    border-style: solid;
    min-width: 250px;
    max-width: 550px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    box-shadow: 5px 10px #888888;
    margin-bottom: 50px;
}