/* Header */

#logo {
    background-color: white;
    align-content: center;
    display: flex;
    padding: 10px;
    padding-left: 20px;
    align-items: center;
    font-family: sans-serif;
}

.tajuk {
    font-family: monospace, Courier;
    text-decoration: none;
    color: black;
}

#body {
    font-family: sans-serif;
    background-color: rgb(168, 218, 252);
}

h2 {
    margin: auto;
    background-color: white;
    border-style: inset;
    max-width: 700px;
    text-align: center;
    text-decoration: underline solid;
}

a {
    color: black;
    text-decoration: none;
}

input {
    outline: none;
    outline-color: #888888;
}

a:hover {
    outline: none;
    color: black;
}


/* Dashboard */

th {
    background-color: rgb(36, 40, 49);
}


/* Staff Destination */

#form {
    background-color: white;
    border-style: solid;
    padding-top: 10px;
    padding-left: 10px;
}


/* Overall Movement */

.resultoverall {
    align-content: center;
    background-color: white;
    border-style: solid;
    min-width: 250px;
    max-width: 550px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    box-shadow: 5px 10px #888888;
    margin-bottom: 50px;
}

.peopleout {
    padding-right: 20px;
    padding-left: 20px;
    width: 300px;
    border-style: solid;
    background-color: white;
    margin-left: 20px;
    box-shadow: 5px 10px #353535;
    margin-bottom: 50px;
}

.contain-record {
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: flex-start;
}


/* Staff Information */

#carian {
    margin: auto;
    margin-bottom: 70px;
    background-color: white;
    border-style: solid;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 1200px;
    max-height: 1500px;
    box-shadow: 5px 8px #888888;
    outline: none;
}

input {
    width: 300px;
    border-radius: 8px;
    border-width: 1px;
    color: #888888;
}

.bil {
    text-align: center;
}

thead {
    background-color: rgb(110, 209, 248);
    font-weight: bold;
    color: black;
}

#myInput {
    outline-color: #888888;
}


/* Staff Information Result */

.editstaff1,
.edittrip1 {
    margin: auto;
    border-style: solid;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    padding-bottom: 20px;
    width: 600px;
    margin-bottom: 20px;
}

.table {
    border-color: black;
}


/* Edit Information */

input {
    margin-top: 10px;
}

h3 {
    padding: 20px;
}

h4 {
    text-decoration-line: underline;
}

#DTformat {
    width: 150px;
}


/* Delete Information */

.aysywtd {
    color: white;
    margin: auto;
    margin-bottom: 10px;
    border-style: solid;
    width: 200px;
    background-color: red;
    text-align: center;
}

h3 {
    padding: 20px;
}

h4 {
    text-decoration-line: underline;
}


/* Footer */

.card {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1e88e5;
    color: black;
    text-align: center;
    overflow: hidden;
}